doctype html
html(lang="en")

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    //- script(src='howler.js')
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.js"></script>

    block content
    script(src="/javascripts/piano.js")
